.form-control {
  position: relative;
  margin: 2rem 0 4rem;
  width: 30rem;
}

.form__control__input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.2rem #fff solid;
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  color: #fff;

  &:focus {
    outline: none;
    border-bottom-color: lightblue;
  }

  &:valid {
    outline: none;
    border-bottom-color: lightblue;
  }

  &:focus + label span {
    color: lightblue;
    transform: translateY(-3rem);
  }

  &:valid + label span {
    color: lightblue;
    transform: translateY(-3rem);
  }
}

.form__control__label {
  position: absolute;
  top: 1.5rem;
  left: 0;

  & > span {
    display: inline-block;
    font-size: 1.8rem;
    min-width: 0.5rem;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
